<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean class = "Monster" id = "monster01">
            <property name="monsterId" value="100"/>
            <property name="name" value="mdl"/>
            <property name="skill" value="ldz"/>
        </bean>
    <bean class = "Monster" id = "monster02">
        <property name="monsterId" value="100"/>
        <property name="name" value="ldz"/>
        <property name="skill" value="mdl"/>
    </bean>
</beans>